<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>這是我的小商店</p>
  <p>這是Ruby on Rails作品展示</p>
  <p>購物車會過付款流程但並不會真付款，請放心玩</p>
  <p><%= link_to "開始購物", products_path, class:"btn btn-primary btn-lg" %></p>
</div>
