.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    %h1
      = t('order.edit')

.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = render partial: 'form', locals: { back_url: admin_order_path(@order) }

:javascript
  $(function() {
    var user = new app.Users;
  });
  