<h1>您的購物車</h1>
<%= render 'cart_items' %>
<%= link_to "繼續購物", products_path, class:'btn btn-primary' %>
<%= link_to "結帳", checkout_cart_path, class:'btn btn-success' %>
<%= link_to "清空購物車", clean_cart_path, class:'btn btn-warning' %>