<h1>刷卡</h1>

<%= form_tag payment_path, method: :post do |f| %>
  <div id="dropin"></div>
  <input type="submit" value="付款" class="btn btn-primary" />
<% end %>

<script>
braintree.setup(
  "<%= @client_token %>",
  'dropin', {
    container: 'dropin'
  });
</script>