<h1>刷卡</h1>
<p>此金流為使用Braintree Sandbox，並非真付款</p>
<p>Card Number可用4111 1111 1111 1111</p>
<p>Expiration Date可自己打</p>

<%= form_tag payment_path, method: :post do |f| %>
  <div id="dropin"></div>
  <input type="submit" value=<%=t("pay")%> class="btn btn-primary" />
<% end %>

<script>
braintree.setup(
  "<%= @client_token %>",
  'dropin', {
    container: 'dropin'
  });
</script>