<table class="table table-hover">
  <thead>
    <tr>
      <td>分類</td>
      <td></td>
    </tr>
  </thead>

  <% @categories.each do |category| %>
  <tr>
    <td><%=category.name %></td>
    <td>
      <%#= edit_button '#'%>
      <%#= destroy_button '#'%>
      <%= edit_button edit_admin_category_path(category)%>
      <%= destroy_button admin_category_path(category)%>
    </td>
  </tr>
  <%end%>

</table>