// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item-quantity-field {
  .form-control {
    width: 100px;
  }

}

tr.failed {
  color: red;
}


@media (min-width: 768px) and (max-width: 992px) {
  .orders-form {
    label {
      min-width: 70px;
    }
    .d-flex {
      display: flex;
    }
  }
}

@media (max-width: 767px) {

}

@media (max-width: 321px) {
}

