<div class="panel panel-success">
  <div class="panel-heading">You have entered the back-stage system.</div>
  <div class="panel-body">
    You can add categories and products on left lists.
  </div>
</div>