<div class="list-group">
  <a href="#" class="list-group-item active">
    商品
  </a>
  <%= link_to "商品列表", admin_products_path, class:'list-group-item' %>
  <%= link_to "新增商品", new_admin_product_path, class:'list-group-item' %>
</div>