<% flash.each do |flash_type, message| %>
  <div class="alert alert-<%= flash_type %> alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= message %>
</div>
<% end %>
<!-- 內嵌rails在html標籤裡，依照變數改變HTML -->
<!-- <div class="alert alert-#{flash_type} alert-dismissible" role="alert"> -->
<!-- &times; 會轉成一個 x -->
