<div class="row">
  <div class="col-md-2">
    <div class="list-group">
      <a href="#" class="list-group-item active">商品分類</a>
      <% @categories.each do |category|%>
      <%= link_to category.name, '#', class: 'list-group-item'%>
      <% end %>
    </div>
  </div>

  <div class="col-md-10">
    <div class="row">
      <%= render @products %>
    </div>
  </div>
</div>