<table class="table table-hover">
  <thead>
    <tr>
      <td>商品名稱</td>
      <td>圖片</td>
      <td>描述</td>
      <td>售價</td>
    </tr>
  </thead>

  <tr>
    <td><%=@product.name %></td>
    <td><%=image_tag @product.image.normal %></td>
    <td><%=@product.description %></td>
    <td><%=@product.price %></td>
  </tr>

</table>